/* nav, div, header, section, button {
    border: 1px solid red;
} */
/* Apply flexbox */
.jumbo,
.password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS */
.jumbo,
.footer {
    background: rgb(240, 240, 240);
}
body .navbar    {
    background: purple;
}
main .title {
    font-size: 1.75em;
    color: red;
}
main .subtext   {
    color: grey;
}
main .passwordBox   {
    width: 100%;
    max-height: 84px;
    padding: 20px 0px;
    border-radius: 10px;
    border: 2px solid rgb(187, 66, 44)
}
main div #passwordDisplay   {
    width: 100%;
}
main div button{
    border-radius: 10px;
}
main div .green {
    background: rgb(70, 141, 70);
}
#myRange {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 15px;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(187, 66, 44); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


/* Grid layout */
main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

main .jumbo   {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

main .password   {
    grid-column: 1 / 5;
}

main .buttons   {
    grid-column: 1 / 5;
    grid-row: 3 / 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, 70px);
    grid-gap: 10px;
    padding: 10px;
}

/* Toggled CSS for when a button is equal to true */
.disabled    {
    background: rgb(187, 66, 44);
    color: white;
}

main .footer    {
    grid-column: 1 / 5;
    grid-row: 6/ 8;
}

main div .genPassword  {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
main div .copyPassword  {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
main div .lowerbtn  {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
main div .upperbtn  {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
main div .numberbtn  {
    grid-column: 1 /3;
    grid-row: 3 / 4;
}
main div .specialbtn  {
    grid-column: 3 /5;
    grid-row: 3 / 4;
}
main div .slidercontainer    {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    padding-top: 5px;
}
